.forecast {
    margin-top: 70px;
    width:16%;
    height:200px;
    background: rgba(214, 214, 214, 0.4);
    box-shadow: 3px -2px 14px -1px rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4%;
}

.forecast--picture {
    height:70px;
    width:100px;
}

.forecast--temp {
    font-family: 'Roboto';
    font-size:25px;
    margin-top:20px;
}

.forecast--day {
    font-family: 'Roboto';
    margin-top: 20px;
    font-size:30px;
}

@media (max-width: 1200px) {
    .forecast {

        margin-top:20px;
        width:90%;
        height: 60px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .forecast--temp {
        margin-top:0;
    }
    .forecast--day {
        margin-top:0;
    }
}

@media (max-width: 800px) {
    .forecast {
        width: 90%;
    }
}