.WeatherCart{
    height: 70px;
    margin: 10px 20px 0px 20px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 3px -2px 14px -1px rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    display: flex;
    align-items: center;

}
.container{
    width: 100%;
}

.WeatherCart_content {
    display: flex;
    font-family: Roboto;
    font-weight: 300;
    font-size: 25px;
    align-items: center;
    width: 100%;
    position: relative;
}

.weathercart--picture {
    height: 70px;
    margin-right:0;

}

.adaptive--row {
    display: flex;
}

.adaptive--column {
    display: flex;
    flex-direction: column;
    margin: 0 5% 0px 0px;
}

.right {
    position: absolute;
    right: 20px;
}

.weathercart--wind {
    padding-left:5px;
}

@media (max-width: 1025px) {
    .adaptive--column {
        font-size:20px
    }
    .right {
        right: 0;
    }
    .weathercart--picture {
        width: 100px;
    }
}
