.WeatherCart{
    height: 50px;
    margin: 10px 0px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 3px -2px 14px -1px rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}
.container{

}
.WeatherCart_content{

}
.rows{
    font-family: Roboto;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    justify-content: space-between;
}
.row_body{
    height: 50px;

}
