
.input{
    margin-top:20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0 10px 15px;
    width: 380px;
    border-radius: 10px;
    font-size: 16px;
    color: black;
    background: #416b6e;
    color:white;

}

@media (max-width: 800px) {
    .input {
        width:50%;
    }
}
@media (max-width: 500px) {
    .input {
        padding: 5px 0 5px 5px;
        width: 96%;
        margin: 0 10px 0 3px;
        height: 30px;

    }
    .thisForm {
        width:100%;
    }
    .myForm {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width:96%;
        margin-top:10px;
    }
}